
<div class="thumb" style="background-image: url(http://flickholdr.com/224/112/panorama); background-repeat: no-repeat">
<div class="title"><%= name %></div>
<div class="description"><%= description %></div>
<ul class="tags">

</ul>
    <div class="actions top">
        <a class="btn btn-small btn-danger remove" href="#" title="delete project"><i class="icon-remove icon-white"></i></a>
    </div>
    <div class="actions bottom btn-group">
        <a class="btn btn-small edit" href="#" title="edit project"><i class="icon-pencil"></i> Edit</a>
        <a class="btn btn-small download" href="#" title="download template files"><i class="icon-download-alt"></i> Download</a>
    </div>
</div>
