<div id="logo">
        <h1>Panofy</h1>
        <h3>a krpano & backbone.js playground</h3>
        <h5>by André Kramer (mail@panofy.com)</h5>
    </div>
    <div id="menu" class="menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#/projects">Project List</a></li>
            <li><a href="#/users">User List</a></li>
        </ul>
    </div>
    <div id="submenu" class="menu">

    </div>
    <div id="wrapper">
        <div id="content">
            <div id="sidebar" class="left">

            </div>

            <div id="page" class="right">

            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div id="footer">

    </div>