<ul>
    <li><a href="#" id="editproject"><span class="icon-folder-open icon-large"></span><br />General</a></li>
    <li><a href="#" id="editcontrols"><span class="icon-wired icon-large"></span>Controls</a></li>
    <li><a href="#" id="editview"><span class="icon-eye-open icon-large"></span>View</a></li>
    <li><a href="#" id="editautorotate"><span class="icon-play icon-large"></span>Autorotate</a></li>
    <li><a href="#" id="editdisplay"><span class="icon-adjust icon-large"></span>Display</a></li>
    <li><a href="#" id="edittheme"><span class="icon-flower icon-large"></span>Theme</a></li>

</ul>
