/*
.icon-large{
  width: 32px!important;
  height: 32px!important;
  background-position: 0px 0px!important;

  &.icon-fire{
    background-image: url('../css/twitter/img/png/glyphicons_022_fire.png')!important;
  }
  &.icon-folder-open{
    background-image: url('../css/twitter/img/png/glyphicons_144_folder_open.png')!important;
  }
    &.icon-eye-open{
    background-image: url('../css/twitter/img/png/glyphicons_051_eye_open.png')!important;
  }
    &.icon-adjust{
    background-image: url('../css/twitter/img/png/glyphicons_091_adjust.png')!important;
  }
    &.icon-flower{
    background-image: url('../css/twitter/img/png/glyphicons_310_flower.png')!important;
  }
    &.icon-wired{
    background-image: url('../css/twitter/img/png/glyphicons_269_keyboard_wired.png')!important;
  }
    &.icon-play{
    background-image: url('../css/twitter/img/png/glyphicons_173_play.png')!important;
  }

}*/
